name: Start Test workflows

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main
  workflow_dispatch:

permissions:
  id-token: write
  contents: read

jobs:
  hello:
    if: ${{ github.event.label.name != 'draft' && contains(github.event.pull_request.labels.*.name, 'ready')}}
    runs-on: ubuntu-latest
    steps:

    - name: Install Dependencies
      shell: bash
      run: |
        python -m pip install --upgrade pip
        python3 -m pip install pytest
        pip install boto3

    - name: Hello
      shell: bash
      run: |
        echo ${{contains(github.event.pull_request.labels.*.name, 'ready')}}
        echo "Start submitting job - Push"

  end:
    runs-on: ubuntu-latest
    steps:
      - name: end test
        run: echo "End Test"
        shell: bash

